<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купить {{naming}}</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Компьютерные комплектующие</a>
        <div class="navbar-brand">
            Логин
        {% if current_user.is_authenticated %}
                {{ current_user.name }}
                <a href="/logout" class="btn btn-danger">Выход</a>
        {% else %}
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
        {% endif %}
        </div>
      </nav>
    </header>
    <a href="/" class="back-button">На главную</a>
    <div class="container">
        <div class="product_card">
            <img src={{src}} alt={{naming}}>
            <div class="info">
                <h2>{{naming}}</h2>
                <p class="description">
                    {{description}}
                </p>
                <div class="specs">
                    <h3>Характеристики:</h3>
                    <ul>
                        <li><strong>Размеры:</strong> {{proportions}}</li>
                        <li><strong>Вес:</strong> {{weight}}</li>
                        <li><strong>Год релиза:</strong> {{year}}</li>
                        <li><strong>{{feature_1}}:</strong> {{to_feature_1}}</li>
                        <li><strong>{{feature_2}}:</strong> {{to_feature_2}}</li>
                        <li><strong>{{feature_3}}:</strong> {{to_feature_3}}</li>
                        <li><strong>{{feature_4}}:</strong> {{to_feature_4}}</li>
                        <li><strong>{{feature_5}}:</strong> {{to_feature_5}}</li>
                        <li><strong>{{feature_6}}:</strong> {{to_feature_6}}</li>
                        <li><strong>{{feature_7}}:</strong> {{to_feature_7}}</li>
                        <li><strong>{{feature_8}}:</strong> {{to_feature_8}}</li>
                        <li><strong>{{feature_9}}:</strong> {{to_feature_9}}</li>
                    </ul>
                </div>
                <div class="price">
                    <span class="price-value">{{price}} руб.</span>
                </div>
                <button class="add-to-cart">Добавить в корзину</button>
            </div>
        </div>
    </div>
    <hr>
    <h1>Отзывы</h1>
    {% if current_user.is_authenticated %}
        <a href="reviews" class="btn btn-secondary">Добавить отзыв</a>
    {% endif %}

    {% for item in reviews %}
        <div class="col-md6 border rounded">
            <h2>{{ item.title }}</h2>
            <div>
                {{ item.content }}
            </div>
            <div>
                Автор - {{ item.user.name }}, Дата написания - {{ item.created_date }}
            </div>
            {% if current_user.is_authenticated and current_user == item.user %}
                <div>
                    <a href="/reviews/{{ item.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/reviews_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                </div>
            {% endif %}

        </div>
    {% endfor %}
<hr>
<ul class="products clearfix">
        <li class="product-wrapper">
            <a href="/I5-13600KF_BOX" class="product">
                <div class="product-photo">
                    <img src="static/images/i5.jpg" alt="I5-13600KF_BOX">
                </div>
                <p>Intel Core i5-13600KF</p>
                <p>27 999 руб.</p>
            </a>
        </li>
          <li class="product-wrapper">
              <a href="/I7-13700KF_BOX" class="product">
                  <div class="product-photo">
                  <img src="static/images/i7.jpg" alt="I7-13700KF_BOX">
                  </div>
                  <p>Intel Core i7-13700KF</p>
                  <p>43 799 руб.</p>
              </a>
          </li>
          <li class="product-wrapper">
              <a href="/I9-13900KF_BOX" class="product">
                  <div class="product-photo">
                  <img src="static/images/i9.jpg" alt="I9-13900KF_BOX">
                  </div>
                  <p>Intel Core i9-13900KF</p>
                  <p>56 999 руб.</p>
              </a>
          </li>
          <li class="product-wrapper">
              <a href="/ASUS_PRIME_B760M-K_D4" class="product">
                  <div class="product-photo">
                  <img src="static/images/b760.jpg" alt="ASUS_PRIME_B760M-K_D4">
                  </div>
                  <p>ASUS PRIME B760M-K D4</p>
                  <p>8 999 руб.</p>
              </a>
          </li>
          <li class="product-wrapper">
              <a href="/ASUS_TUF_GAMING_B760M-BTF_WIFI_D4" class="product">
                  <div class="product-photo">
                  <img src="static/images/b760_tuf.jpg" alt="ASUS_TUF_GAMING_B760M-BTF_WIFI_D4">
                  </div>
                  <p>ASUS TUF Gaming B760M-BTF WIFI D4</p>
                  <p>22 999 руб.</p>
              </a>
          </li>
          <li class="product-wrapper">
              <a href="/ASUS_ROG_MAXIMUS_Z790_APEX_ENCORE" class="product">
                  <div class="product-photo">
                  <img src="static/images/z790.png" alt="ASUS_ROG_MAXIMUS_Z790_APEX_ENCORE">
                  </div>
                  <p>ASUS ROG Maximus Z790 Apex Encore</p>
                  <p>73 499 руб.</p>
              </a>
          </li>
          <li class="product-wrapper">
              <a href="/ASUS_GeForce_RTX_4070_Ti_TUF_Gaming_OC_Edition" class="product">
                  <div class="product-photo">
                  <img src="static/images/4070ti.jpg" alt="ASUS_GeForce_RTX_4070_Ti_TUF_Gaming_OC_Edition">
                  </div>
                  <p>ASUS GeForce RTX 4070 Ti TUF Gaming OC</p>
                  <p>97 999 руб.</p>
              </a>
          </li>
          <li class="product-wrapper">
              <a href="/ASUS_GeForce_RTX_4090_ROG_Strix_OC_Edition" class="product">
                  <div class="product-photo">
                  <img src="static/images/4090.jpg" alt="ASUS_GeForce_RTX_4090_ROG_Strix_OC_Edition">
                  </div>
                  <p>ASUS GeForce RTX 4090 ROG Strix OC</p>
                  <p>329 999 руб.</p>
              </a>
          </li>
      </ul>
</body>
</html>
<link href="static/css/product.css" rel="stylesheet" type="text/css">
<link href="static/css/catalog.css" rel="stylesheet" type="text/css">
<link href="static/css/button.css" rel="stylesheet" type="text/css">